<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="~/css/Admin/AdminLayout.css" />
</head>
<body>
    <nav class="admin-nav">
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>