@model IEnumerable<BlogPost>
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<h2>awesome</h2>

<div class="row">
    @foreach(var post in Model)
    {
        <div>

            <a asp-action="EditPost" asp-controller="Admin" asp-route-id="@post.id"><span>@post.Title</span></a>
        </div>

    }
</div>